/* Intro page */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0a0f24, #2c3e7a);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Intro {
  text-align: center;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

h1 {
  font-size: 50px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: 'Cardo',serif;
  margin-bottom: 10px;
}


h2 {
  font-size: 16px;
  font-weight: 300;
  color: #dcdcdc;
  margin-bottom: 40px;
}

/*Button*/
#start-btn {
  background-color: #494A72;
  color: #0a0f24;
  border: none;
  padding: 15px 40px;
  font-size: 13px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  
}

#start-btn:hover {
  background-color: #3e3f60;
  box-shadow: 0 0 10px #3f4075;
  transform: scale(1.05);
}

.logo {
  width: 100px;           
  height: auto;           
  margin-bottom: 10spx;   
  animation: fadeIn 1s ease;  
}

/*Animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Players {
  position: relative;    
  width: 100%;
  height: 400px;         
  
}
.vini {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 5;           
}


.palmer {
  position: absolute;
  bottom: 0;
  right: 55%;
  width: 220px;
  z-index: 4;          
}


.dembele {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 230px;
  z-index: 2;          
}

.raphinha {
  position: absolute;
  bottom: 50;
  right: 23%;
  transform: translateX(-50%);
  width: 180px;
  z-index: 3;          
}

.Rice {
  position: absolute;
  bottom: 100px;
  left: 47%;
  width: 160px;
  z-index: 1;           
}

